body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  background-color: #eb700b;
}

.footer-social a {
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

.footer-social a:hover {
  color: #dee2e6;
}
.servicio_I {
  color:red;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.h-estilo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: rgb(240, 13, 13);
}

.traslado-estilo {
  font-family: cursive, sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  color:#eb700b;
  text-align: center;
}

.nombre-estilo {
  font-family: 'Lobster', sans-serif;
  font-weight: normal;
  font-size: 1.25rem;
  color: #eb700b;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
  background-color: #f8f9fa;
  padding: 20px;
  position: relative;
}

.service {
  flex: 1 1 calc(33.333% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #dee2e6;
  border: 1px solid #eb700b;
  border-radius: 5px;
  text-align: center;
}

.service h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.service p {
  font-size: 16px;
}

.footer-contact {
  padding: 10px;
  background-color: #eb700b;
  text-align: center;
  z-index: 10;
  position: relative;
}

.footer-contact a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.footer-contact a:hover {
  color: #dee2e6;
}

.logo-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}
.logo-container img {
  width: 100px;
  height: auto;
}

/* Nuevo CSS para el texto animado */
.animated-text-container {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  z-index: 10;
}

.animated-text {
  display: inline-block;
  font-family: 'Lobster', sans-serif;
  font-size: 4rem;
  animation: scroll-text 10s linear infinite;
  white-space: nowrap;
  position: relative;
  padding: 10px;
  color:#ff6600; /* Cambia el color del texto */
}

.animated-text img {
  width: 400px;
  height: auto;
  vertical-align: middle;
  margin: 0 10px;
  opacity: 20;
}

@keyframes scroll-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.fixed-caption-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px 0; /* Ajustar este valor según sea necesario */
  position: relative;
}

.fixed-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: #dee2e6;
  width: 90%;
  max-width: 800px;
  text-align: center;
  box-sizing: border-box;
}

.description {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .h-estilo {
    font-size: 3rem;
  }

  .traslado-estilo {
    font-size: 2rem;
  }

  .nombre-estilo {
    font-size: 1rem;
  }

  .fixed-caption-container {
    padding: 20px 0; /* Ajustar este valor según sea necesario */
  }

  .fixed-caption {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .h-estilo {
    font-size: 2rem;
  }

  .traslado-estilo {
    font-size: 1.5rem;
  }

  .nombre-estilo {
    font-size: 0.75rem;
  }

  .fixed-caption-container {
    padding: 20px 0; /* Ajustar este valor según sea necesario */
  }

  .fixed-caption {
    width: 100%;
  }
}
